.status{
    height: 10px;
    width: 10px;    
    border-radius: 5px;
}
.true{
     composes: status;
background-color: green;
}
.false{
     composes: status;
background-color: red;
}

.item{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-items: center; 
    background-color: white;   
    width: 15vw;
    margin-top: 1vh;
    padding: 3px;
   -webkit-box-shadow: 8px 8px 24px 0px rgba(4, 4, 4, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(4, 4, 4, 1);
box-shadow: 8px 8px 24px 0px rgba(4, 4, 4, 1);
}
.avatar{
    margin: 0px 10px 0px 5px;
}